<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Level page</title>

<!-- Bootstrap Core CSS -->
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="../static/css/metisMenu.min.css"
	th:href="@{/css/metisMenu.min.css}" rel="stylesheet">

<!-- DataTables CSS -->
<link href="../static/css/dataTables/dataTables.bootstrap.css"
	th:href="@{/css/dataTables/dataTables.bootstrap.css}" rel="stylesheet">


<!-- DataTables Responsive CSS -->
<link href="../static/css/dataTables/dataTables.responsive.css"
	th:href="@{/css/dataTables/dataTables.responsive.css}" rel="stylesheet">

<!-- Custom CSS -->
<link href="../static/css/startmin.css" th:href="@{/css/startmin.css}"
	rel="stylesheet">

<!-- Private CSS -->
<link href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}"
	rel="stylesheet">

<!-- Custom Fonts -->
<link href="../static/css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/welcome}">Welcome</a>
			</div>

			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

			<ul class="nav navbar-nav navbar-left navbar-top-links">
				<li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
			</ul>

			<span th:replace="fragments/usersettings :: usersettings"></span>
			<!-- /.navbar-top-links -->
			<div th:replace="fragments/menus :: menus"></div>

		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Classes</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>

			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">DataTables Advanced Tables</div>

						<br/>
						<button type="button" class="btn btn-primary" id="btn-n-niveau">Nouveau</button>
						<div class="panel-body">

							<!-- button type="button" class="btn btn-primary" id="btn-n-classe">Nouveau</button-->
							<div class="dataTable_wrapper">
								<table class="table table-striped table-bordered table-hover"
									id="dataTables-example">
									<thead>
										<tr>
											<th>Code</th>
											<th>Cycle</th>
											<th>Modifier</th>
											<th>Supprimer</th>
											<th>Desactiver</th>
											<th>Voir</th>
										</tr>
									</thead>
									<tbody>
										<tr class="odd gradeX" th:each="n :${niveaux}">
											<td th:text="${n.niveau}"></td>
											<td th:text="${n.cycle_etude}"></td>
											<td>
												<!-- a th:href="@{editNiveau/(id=${n.id})}">
													<button type="button"
														class="btn btn-primary btn-xs glyphicon" id="btn-u-niveau">
														<span class="glyphicon-pencil"></span>
													</button></a--> 
													<a th:href="@{editNiveau/(id=${n.id})}" id="btn-u-niveau">
													<button type="button"
														class="btn btn-primary btn-xs glyphicon" id="btn-u-niveau">
														<span class="glyphicon-pencil"></span>
														
													</button>
													</a>
													</td>											
											
											<td><a th:href="@{deleteNiveau(id=${n.id})}" id="btn-d-niveau">
													<button type="button" class="btn btn-danger btn-xs"
														id="btn-d-niveau" onclick="confirm('Do you really want to delete')">
														<span class="glyphicon glyphicon-trash"></span>

													</button>
											</a></td>
											<td>
												<button type="button" class="btn btn-warning btn-xs"
													id="btn-des-niveau">Desactiver</button>
											</td>
											<td><a th:href="@{getOneNiveau/(id=${n.id})}" id="btn-v-niveau">
													<button type="button" class="btn btn-default btn-xs"
														id="btn-v-niveau">
														<span class="glyphicon glyphicon-eye-open"></span> View
													</button>
											</a></td>
										</tr>


									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->

						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>


		</div>
		<!-- /#page-wrapper -->

	</div>

	<!-- nouvelle classe-->
	<div class="container">
		<form role="form" th:action="@{newNiveau}" method="post"
			th:objet="${niveauobj}">
			<!-- Modal -->
			<div class="modal fade" id="modal-n-niveau" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header" style="padding: 35px 50px;">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4>
								<span class="glyphicon glyphicon-lock"></span> Nouveau niveau
							</h4>
						</div>
						<div class="modal-body" style="padding: 40px 50px;">

							<div class="form-group">
								<label for="code"><span></span>Code</label> <input type="text"
									th:field="${niveauobj.niveau}" class="form-control" id="code">
							</div>

							<div class="form-group">
								<label th:for="cycle">Cycle</label> <select
									th:field="${niveauobj.cycle_etude}">
									<option th:each="cycleselect : ${cycleList}"
										th:text=" ${cycleselect.name}" th:value="${cycleselect}"></option>

								</select>

							</div>
							<button type="submit" class="btn btn-success">Save</button>


						</div>
						<div class="modal-footer">
							<button type="submit"
								class="btn btn-danger btn-default pull-left"
								data-dismiss="modal">
								<span class="glyphicon glyphicon-remove"></span> Cancel
							</button>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>

	<!-- edit niveau-->
	<div class="container">
		<form role="form" th:action="@{newNiveau}" method="post"
			th:objet="${niveauobj}" id="edit_niveau_form">
			<!-- Modal -->
			<div class="modal fade" id="modal-u-niveau" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header" style="padding: 35px 50px;">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4>
								<span class="glyphicon glyphicon-lock"></span> niveau
							</h4>
						</div>
						<div class="modal-body" style="padding: 40px 50px;">


							<div class="form-group" hidden='hidden'>
								<label for="id"><span></span>Id</label> <input type="text"
									th:field="${niveauobj.id}" class="form-control" id="id">
							</div>

							<div class="form-group">
								<label for="niveau"><span></span>Niveau</label> <input
									type="text" th:field="${niveauobj.niveau}" class="form-control"
									id="niveau" name="niveau">
							</div>

							<div class="form-group">
								<label th:for="cycle">Cycle</label> <select
									th:field="${niveauobj.cycle_etude}" id="cycle">
									<option th:each="cycleselect : ${cycleList}"
										th:text=" ${cycleselect.name}" th:value="${cycleselect}"></option>

								</select>

							</div>
							<button type="submit" class="btn btn-success">Save</button>
						</div>
						<div class="modal-footer">
							<button type="submit"
								class="btn btn-danger btn-default pull-left"
								data-dismiss="modal">
								<span class="glyphicon glyphicon-remove"></span> Cancel
							</button>
						</div>
					</div>

				</div>

			</div>
		</form>
	</div>
	<!-- view niveau-->
	<div class="container">
		<form role="form" th:action="@{getOneNiveau}" 
			th:objet="${niveauobj}">
			<!-- Modal -->
			<div class="modal fade" id="modal-v-niveau" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header" style="padding: 35px 50px;">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4>
								<span class="glyphicon glyphicon-lock"></span> niveau
							</h4>
						</div>
						<div class="modal-body" style="padding: 40px 50px;">


							<div class="form-group">
								<label for="id"><span></span>Id</label> <input type="text"
									th:field="${niveauobj.id}" class="form-control" id="id" name="id"
									readonly>
							</div>

							<div class="form-group">
								<label for="niveau"><span></span>Niveau</label> <input
									type="text" th:field="${niveauobj.niveau}" class="form-control"
									id="niveau" name="niveau" readonly>
							</div>

							<div class="form-group">
								<label for="niveau"><span></span>Cycle</label> <input
									type="text" th:field="${niveauobj.cycle_etude}"
									class="form-control" id="cycle_etude" name="cycle_etude"
									readonly>
							</div>

							

						</div>
						<div class="modal-footer">
							<button type="submit"
								class="btn btn-danger btn-default pull-left"
								data-dismiss="modal">
								<span class="glyphicon glyphicon-remove"></span> Cancel
							</button>
						</div>
					</div>

				</div>

			</div>
		</form>
	</div>
	
	<!-- delete niveau modal-->
			<!-- Modal -->
			<div class="modal fade" id="modal-d-niveau" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<!-- div class="modal-header" style="padding: 35px 50px;">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							
						</div-->
						<div class="modal-body" style="padding: 40px 50px;">

							<p class="alert alert-danger">
							Are you sure you to delete!!!
								
							</p>													

						</div>
						<div class="modal-footer">
							<button type="submit"
								class="btn btn-default pull-right"
								data-dismiss="modal">
								<span class="glyphicon glyphicon-remove"></span> Cancel
							</button>
							<a href="" class="btn btn-danger del_niveau_ref">Delete
							</a>
						</div>
					</div>

				</div>

			</div>
		
	
	


	<div th:replace="fragments/footer :: footer"></div>
	<!-- /#wrapper -->

	<!-- jQuery -->

	<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="../static/js/metisMenu.min.js"
		th:src="@{/js/metisMenu.min.js}"></script>

	<!-- DataTables JavaScript -->
	<script src="../static/js/dataTables/jquery.dataTables.min.js"
		th:src="@{/js/dataTables/jquery.dataTables.min.js}"></script>
	<script src="../static/js/dataTables/dataTables.bootstrap.min.js"
		th:src="@{/js/dataTables/dataTables.bootstrap.min.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="../static/js/startmin.js" th:src="@{/js/startmin.js}"></script>

	<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
	<!-- Page-Level Demo Scripts - Tables - Use for reference -->
	<!-- script>
		$(document).ready(function() {
			$('#dataTables-example').DataTable({
				responsive : true
			});

		});
	</script-->
	<!-- script>
		$(document).ready(function() {
			$('#dataTables-example').DataTable({
				responsive : true
			});
			
			$("#btn-n-niveau").click(function() {
				$("#modal-n-niveau").modal();
			});
			
			$("#btn-u-niveau").click(function() {
				$("#modal-u-niveau").modal();
			});
		});
	</script-->
	<!-- script>
		$(document).ready(function() {
			$("#btn-u-niveau").click(function() {
				$("#modal-u-niveau").modal();
			});
		});
	</script-->

</body>
</html>
